# Step 1

In [10]:
import numpy as np
arr = [1,2,3]
for i in range(len(arr)):
    arr[i] = arr[i] * 2
print(arr)

vec = np.array([1,2,3])
new_vec = vec * 2
print(new_vec)

[2, 4, 6]
[2 4 6]

try to compare

In [11]:
import time

init_arr = [1,2,3] * 100000
t0 = time.time()
for i in range(len(init_arr)):
    init_arr[i] = init_arr[i] * 2
print("Loop time:", time.time() - t0)

init_vec = np.array(init_arr)
t1 = time.time()
init_vec = init_vec * 2
print("Vectorized time:", time.time() - t1)

Loop time: 0.02447652816772461
Vectorized time: 0.0009999275207519531

Compare to these two different method, using numpy array to do the vectorized is obviously faster than using loop.

# Step 2

In [22]:
import pandas as pd

df = pd.read_csv(r"C:\Users\K\bootcamp_chengyu_gong\data\starter_data.csv")

print(df.info)

print(df.head())

<bound method DataFrame.info of   category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05
5        C     30  2025-08-06
6        A     11  2025-08-07
7        B     14  2025-08-08
8        C     28  2025-08-09
9        A     13  2025-08-10>
  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05

# Step 3

In [23]:
x = df.groupby("category").sum()
x

          value                                      date
category
A            46  2025-08-012025-08-032025-08-072025-08-10
B            47            2025-08-022025-08-042025-08-08
C            83            2025-08-052025-08-062025-08-09

# Step 4

In [24]:
summary = df.describe(include="all")
print(summary)

       category      value        date
count        10  10.000000          10
unique        3        NaN          10
top           A        NaN  2025-08-01
freq          4        NaN           1
mean        NaN  17.600000         NaN
std         NaN   7.381659         NaN
min         NaN  10.000000         NaN
25%         NaN  12.250000         NaN
50%         NaN  14.500000         NaN
75%         NaN  23.250000         NaN
max         NaN  30.000000         NaN

In [31]:
import os
os.makedirs(r"C:\Users\K\bootcamp_chengyu_gong\data\processed", exist_ok=True)
summary.to_csv(r"C:\Users\K\bootcamp_chengyu_gong\data\processed\summary.csv")

In [33]:
import matplotlib.pyplot as plt

plt.figure(figsize=(6,4))
df["value"].hist(bins=20)
plt.title("Distribution of value")
plt.xlabel("Value")
plt.ylabel("Frequency")

plt.savefig(r"C:\Users\K\bootcamp_chengyu_gong\data\processed\summary.png")
plt.close()

# Step 5

In [ ]:
import sys
sys.path.append("..")  

from src.utils import get_summary_stats

summary = get_summary_stats(df)
print(summary.head())

       category  value        date
count        10   10.0          10
unique        3    NaN          10
top           A    NaN  2025-08-01
freq          4    NaN           1
mean        NaN   17.6         NaN